<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type='text/css' href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" type='text/css' href="/Content/css/styles.css">
    <title>University Registrar</title>
  </head>
  <body>
    <h1 class="text-center">&#127891; University Registrar &#127891;</h1>
    <hr>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
