@{
  Layout = "Shared/_Layout.cshtml";
}

@if(Model.Count == 0)
{
  <h4>There are no courses in this university!</h4>
}
else
{
  @foreach(var course in @Model)
  {
    <p>
      <h4><a href="/courses/@course.GetId()">@course.GetName()</a></h4>
      @course.GetCourseNumber()
    </p>

  }

}
<p>
  <a href="/courses/new">Click to add a new course</a>
</p>
<p>
  <a href="/">Click here to go back </a>
</p>
