@{
  Layout="Shared/_Layout.cshtml";
}

<a href="/students"><button class = "button-hover btn" type="button" name="button">View students</button></a>

<a href="/courses"><button class = "button-hover btn" type="button" name="button">View courses</button></a>
