@{
  Layout = "Shared/_Layout.cshtml";
}

<form action="/students" method="post">
  <div class="form-group">
    <label for="student-name">What is the student's name?</label>
    <input type="text" name="student-name" class="form-control">
  </div>
  <button type="submit" class="btn button-hover">Add student</button>
</form>
